Source: acestep.cpp
Section: sound
Priority: optional
Maintainer: Stefano Balocco <stefano.balocco@gmail.com>
Build-Depends: debhelper (>= 12), cmake, pkg-config, gzip, sed,
               libmp3lame-dev, libflac-dev,
               libopusenc-dev, libopusfile-dev,
               intel-oneapi-mkl-devel, intel-oneapi-dnnl-devel,
               intel-oneapi-runtime-mkl, intel-oneapi-runtime-dnnl,
               intel-oneapi-compiler-dpcpp-cpp | dpcpp | clang-sycl
Standards-Version: 3.8.2

Package: acestep.cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ACE-Step 1.5 AI Music Generator using GGML
 Base package: server binary, core libraries, data directories.
 Includes the cpu backend for inference.

Package: acestep.cpp-sycl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ACE-Step GGML SYCL backend
 SYCL-accelerated CPU backend.
